spring:
  application:
    name: ECommerce
  datasource:
    url: jdbc:postgresql://ecommerce_db:5432/ecommerce
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  flyway:
    user: postgres
    password: postgres
    enabled: false
